<% provide(:title, "Home") %>
<div class="home_header">
  <h1>Seatify</h1>
  <p>To solve no vacant tables, get a seat soon!</p>
</div>
<!-- /header -->

<div class="container">
  <%= link_to new_user_session_path do %>
    <div class="btn become_host">
      BECOME HOST
    </div>
  <% end %>
  <!-- /become_host -->

  <!--
  <a href="#">
    <div class="btn give_seat">
      GIVE A SEAT
    </div>
  </a>
  /give_seat -->

  <div class="find_seat">
    <h1>How it works</h1>
    <div class="find_menu">
      <div class="find_item">
        <h2>1. Find a seat</h2>
        <p>All seats are available.</p>
      </div>
      <div class="find_item">
        <h2>2. Request a seat</h2>
        <p>Send SMS to host of a seat.</p>
      </div>
      <div class="find_item">
        <h2>2. Get a seat</h2>
        <p>Sharing a table socially.</p>
      </div>
    </div>
  </div>
  <!-- /find_seat -->

  <div class="get_seat">
    <h1>Let's get a seat!</h1>

    <div class="contents">
      
    </div>
  </div>

</div>
