<% provide(:title, @user.name) %>
<%= render 'layouts/header' %>
<div class="container">
  <div class="profile">
    <div class="image">
      <img src="./img/shun_icon.png" />
    </div>
    <div class="basic_info">
      <h2>Shun Yamada</h2>
      <p>Silicon Valley's Freerider</p>
      <div class="description">
        Hey, what's up guys! I'm Shun, freerider. I run my own business and curious about tech and learnng English and programming.
      </div>
      <a href="#">
        <div class="btn edit_btn">
          EDIT PROFILE
        </div>
      </a>
    </div>
  </div>
  <!-- /profile -->

  <div class="get_seat">
    <h1>Get Shun Yamada's seat!</h1>

    <div class="contents">
      <div class="item">
        <div class="item_head">
          <div class="icon">
            <img src="./img/shun_icon.png" />
          </div>
          <ul class="info">
            <li><a href="#" target="_blank">Yahoo! LODGE</a></li>
            <li><a href="#">Shun Yamada</a></li>
          </ul>
        </div>
        <div class="item_body">
          <div class="date list">
            <img src="./img/date.png" />2017年11月10日11:00
          </div>
          <div class="address list">
            <img src="./img/place.png" />東京都 千代田区紀尾井町1-3
          </div>
          <div class="price list">
            Get a seat for <span>100yen</span>
          </div>
          <div class="amenity list">
            <span class="wifi on">wifi</span><span class="charge off">charge</span>
          </div>
        </div>
        <div class="item_btn">
          <a href="#">
            <div class="btn request_btn">
              REQUEST A SEAT
            </div>
          </a>
        </div>
      </div>
    </div>
    <!-- /item -->
  </div>
  <!-- /get_seat -->
</div>
<!-- /container -->
