body {
  color: #444444;
}

.desktop_view {
  display: block;
}
.mobile_view {
  display: none;
}

.header {
  background: #3366ff;
  padding: 5px 0;
}
.header a {
  color: #fff;
  font-size: 26px;
  font-weight: bold;
}

.home_header {
  text-align: center;
  border-top: 5px solid #3366ff;
  padding: 15px 0 10px 0;
}
.home_header h1 {
  font-size: 32px;
}
.home_header p, .find_item p {
  color: #666666;
}
.btn {
  color: #fff;
  padding: 10px 0;
  width: 100%;
}

.footer {
  color: #fff;
  text-align: center;
  padding: 10px 0;
  background: #444444;
}
.footer a {
  color: #fff;
}

.become_host {
  background: #444444;
  width: 100%;
}
.give_seat {
  background: #5b84ff;
  width: 100%;
  margin-bottom: 15px;
}
.show_profile {
  color: #5b84ff;
  border: 2px solid #5b84ff !important;
}
.edit_btn {
  margin-top: 10px;
  padding: 7px 0;
  background: #666666;
  width: 100%;
}
.request_btn {
  margin-top: 10px;
  padding: 7px 0;
  background: #5b84ff;
  width: 100%;
}
.closed_btn {
  margin-top: 10px;
  padding: 7px 0;
  background: #dfdfdf;
  width: 100%;
}
.foot {
  margin-top: 15px;
  text-align: right;
}
.delete {
  color: #fff;
  background: #ff3366;
  padding: 5px 10px;
  border-radius: 5px;
}

.find_seat {
  padding: 30px 0 10px 0;
}
.find_seat h1, .get_seat h1 {
  text-align: center;
  font-size: 24px;
}
.find_menu {
  padding-top: 15px;
  display: flex;
  justify-content: space-between;
}
.find_item h2 {
  font-size: 20px;
}
.info li a {
  color: #444444;
}
.info li:nth-child(2) a {
  color: #666666;
}
.contents {
  margin: 30px 0;
}
.item {
  margin: 30px 0;
  padding: 15px;
  border: 1px solid #dfdfdf;
  border-radius: 5px;
  box-shadow: 1px 2px 3px #dfdfdf;
}
.item_head {
  display: flex;
}
.icon {
  margin-right: 15px;
}
.icon img {
  width: 50px;
  height: 50px;
  border-radius: 50%;
}
.info li:first-child {
  font-weight: bold;
}
.info span {
  font-size: 12px;
}
.list {
  height: 30px;
  line-height: 30px;
}
.list img {
  width: 15px;
  margin-right: 10px;
}
.opened {
  color: #41a700;
}
.closed {
  color: #666666;
}
.spot {
  margin-bottom: 10px;
  height: auto !important;
}
.spot a {
  color: #444444;
  font-size: 24px;
  font-weight: bold;
}
.price {
  font-weight: bold;
}

.amenity span {
  font-size: 14px;
  color: #fff;
  padding: 2.5px 15px;
  margin-right: 10px;
  border-radius: 5px;
}
.on {
  background: #3366ff;
}
.off {
  background: #dfdfdf;
}
.photo {
  margin-top: 10px;
}
.photo img {
  width: 100%;
  height: 200px;
  object-fit: cover;
}

.profile {
  padding: 30px 0;
  text-align: center;
}
.image {
  padding: 15px 0;
}
.image img {
  width: 120px;
  height: 120px;
  object-fit: cover;
}
.basic_info h2 {
  font-size: 24px;
}
.basic_info p {
  color: #666666;
}

.service {
  padding: 30px 0;
  text-align: center;
}
.service_text p {
  color: #666666;
}

.social .btn:first-child {
  margin-bottom: 10px;
}
.facebook {
  background: #3b5998;
}
.twitter {
  background: #1da1f2;
}

form {
  text-align: left;
  margin: 15px 0;
}
.submit {
  background: #3366ff;
}

.alert {
  margin-top: 15px;
}
.alert-alert {
    color: #31708f;
    background-color: #d9edf7;
    border-color: #bce8f1;
}
.alert-notice {
    color: #155724;
    background-color: #d4edda;
    border-color: #c3e6cb;
}

.area_mark {
  font-weight: bold;
}
.required_mark {
  font-weight: bold;
  color: #ff3366;
}

.bar_profile {
  display: flex;
  padding: 15px;
  padding-top: 30px;
  background: #444444;
}
.bar_icon img {
  width: 60px;
  height: 60px;
  object-fit: cover;
  border-radius: 50%;
}
.bar_text {
  padding-top: 15px;
  padding-left: 15px;
}
.bar_text li {
  line-height: 30px;
  color: #fff;
}
.bar_list {
  padding: 0 15px;
}
.bar_list li {
  line-height: 45px;
}
.bar_list li a {
  color: #444444;
}
.bar_become {
  padding: 15px;
}
.bar_btn {
  margin: 5px 0;
}
.signed_in {
  color: #3366ff;
  border: 1px solid #3366ff !important;
}
.signed_up {
  background: #3366ff;
}
.form_sms {
  font-size: 12px;
  margin-bottom: 10px;
}

@media screen and (max-width:600px) {
  .desktop_view {
    display: none;
  }
  .mobile_view {
    display: block;
  }

  .find_menu {
    flex-direction: column;
  }
  .find_item {
    margin: 10px 0;
  }
}
